*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
//  Here is My Variable for the Text fontsize
$font-size-headline:3rem;
$font-size-forheadline:2rem;
$font-size-desrciption:1rem;

//  Here is the Shadow for Box and for the font
$box-shadow-xs:5px 5px 5px;
$box-shadow-s:8px 8px 8px;
$box-shadow-medium:10px 10px 10px;
$box-shadow-base:12px 12px 12px;

$text-shadow-Headline:12px 12px 12px;
$text-shadow-forHeadline:8px 8px 8px;

// Here is the Variable for Color
$body-color:#131936;
$Main-color:#061559;
$Secondary-color:#044858;
$Text-color:#c0d0d5;
$Headline-color:#7ba7b5;
$forHeadline-color:#4bbee3;


body{

        header{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            overflow: hidden;
            background-color: $Main-color;

                h1{
                    font-size: $font-size-headline;
                    color: $Text-color;
                }
                nav,ul,li,a{
                    display: inline-block;
                    justify-content: space-between;
                    font-size: 2rem;
                    margin-top: 12px;
                    color: $Text-color;
                }
                nav,ul,li{
                    list-style-type:none;
                    display: inline-block;
                    padding: 10px 120px;
                }
                a:hover{
                    text-decoration: underline;
                    color: $Headline-color;
                }
        }
        main{
            background-color: $body-color;
            .Main-content{
                display: flex;
                justify-content: start;
                align-items: center;
                overflow: hidden;
                color: $Text-color;
                font-size: $font-size-desrciption;

                h2{
                    font-size:$font-size-forheadline;
                    color: $forHeadline-color;
                }

                    .circle{
                        height: 600px;
                        width: 600px;
                        max-height: 80vw;
                        max-width: 80vw;
                        overflow: hidden;
                        border-radius:50% ;
                        border: 20px solid $Secondary-color;
                        display: flex;
                        justify-content: center;
                        align-items:start;
                            }
                            .circle img{
                                width: 100%;
                            }
                    .About-me{
                        display: block;
                        justify-content: space-between;
                    }
            }
        }
    
    }
