//  Here is My Variable for the Text fontsize
$font-size-headline:3rem;
$font-size-forheadline:2rem;
$font-size-desrciption:1rem;

//  Here is the Shadow for Box and for the font
$box-shadow-xs:5px 5px 5px;
$box-shadow-s:8px 8px 8px;
$box-shadow-medium:10px 10px 10px;
$box-shadow-base:12px 12px 12px;

$text-shadow-Headline:12px 12px 12px;
$text-shadow-forHeadline:8px 8px 8px;

// Here is the Variable for Color
$body-color:#297AE3;
$Main-color:#15171C;
$Secondary-color:#232933;
$Text-color:#c0d0d5;
$Headline-color:#2E3744;
$forHeadline-color:#B3B4B6;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
        header{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color: #15171cd7;
            position: fixed;
            width: 100%;
            box-shadow: 5px 5px 5px;


                h1{
                    font-size: $font-size-headline;
                    color: $Text-color;
                    display: flex;
                    justify-content: center;
                    position: relative;
                }
                nav,ul,li,a{
                    display: inline-block;
                    justify-content: space-between;
                    font-size: 2rem;
                    margin-top: 12px;
                    color: $Text-color;
                }
                nav,ul,li{
                    list-style-type:none;
                    display: inline-block;
                    padding: 10px 120px;
                }
                a:hover{
                    text-decoration: underline;
                    color: $body-color;
                }

                @media (max-width:768px){ 
                display:none;
                }
        }
        main{
            background-color: $Secondary-color;
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            .Main-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                color: $Text-color;
                font-size: $font-size-desrciption;
                margin-top: 200px;
                h2{
                    font-size:$font-size-forheadline;
                    color: $forHeadline-color;
                }

                    .circle{
                        height: 600px;
                        width: 600px;
                        max-height: 80vw;
                        max-width: 80vw;
                        overflow: hidden;
                        border-radius:50% ;
                        border: 20px solid $Secondary-color;
                        display: flex;
                        justify-content: center;
                        align-items:start;
                            }
                            .circle img{
                                width: 100%;
                            }
                    .Home{
                        display:block;
                        justify-content: end;
                        overflow: hidden;
                        font-size: 1.5rem;
                        align-items: center;
                        margin-right: 150px;
                        margin-bottom: 130px;
                            h2{
                                margin-bottom: 20px;
                                overflow: hidden;
                                font-size: 3rem;
                            }
                            p{
                                overflow: hidden;
                                font-size: 2rem;
                            }
                    }
            }
            .container{
            overflow: hidden;
            }
                .container .text{
                    position: relative;
                    color: cyan;
                    font-size: 2rem;
                    font-weight: 600;
                }
                .container .text.first-text{
                    color: #fff;
                }
                .text.sec-text:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-left: 2px solid #4070F4;
                    background-color: $Secondary-color;
                    animation: animate 3.5s steps(12) infinite;
                }
                @keyframes animate{
                    40%, 60%{
                        left:calc(100% + 4px);
                    }
                    100%{
                        left: 0%;
                    }
                }
        }
                #About-me{
                    background: $Secondary-color;
                    min-height: 100vh;
                    width:100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                        h2{
                            font-size: 3rem;
                            color: $Text-color;
                        }
                    .About{
                        max-width: 1000px;
                        margin-top: 2rem;
                        padding-bottom: 1rem;
                        border-bottom: 2px solid #2799ca;
                        cursor: pointer;
                        color: $Text-color;
                    }
                    .question{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .question h3{
                        font-size: 1.8rem;
                    }
                    .answer{
                        max-height: 0;
                        overflow: hidden;
                        transition: max-height 1.4s ease;
                    }
                    .answer p{
                        padding-top: 1rem;
                        line-height: 1.6;
                        font-size: 1.4rem;
                    }
                    .About.active .answer{
                        max-height: 300px;
                        animation: fade 1s ease-in-out;
                    }
                    .About.active svg{
                        transform: rotate(180deg);
                    }
                    svg{
                        transition: transform 0.5s ease-in;
                    }
                }
    
    }
